.button {
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
    -fx-focus-traversable: false;
}

.cont:pressed{
    -fx-background-color: #b5ffff;
}

/*.cont{*/
/*    -fx-border-color: black;*/
/*    -fx-border-width: 2;*/
/*    -fx-border-style: solid;*/
/*}*/